html, body {
	height: 100%;
}

html, body {
	margin: 0;
	padding: 0;
	border: none;
}

.hide {
	display: none;
}

.floatLeft {
	float: left;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color: #4a470a;
}


.asideHeader {
	top: 0;
	left: 0;
	margin: 0;
	background-color: #e0d821;
	color: #4a470a;
	font-weight: bold;
	z-index: 100;
}

input[type="text"], input[type="password"] {
	border: 1px solid #4a470a;
	outline: none;
	text-align: center;
	color: #4a470a;
}

select {
	border: 1px solid #4a470a;
	outline: none;
	text-align: center;
	color: #4a470a;
	-webkit-appearance: none; /* �꽕�씠�떚釉� �쇅�삎 媛먯텛湲� */
	-moz-appearance: none;
	appearance: none;
}

input[type="button"], input[type="submit"] {
	border: none;
	background-color: #4a470a;
	color: #ffffff;
}

input[type="file"] {
	margin: 0;
	border: 1px solid #4a470a;
	outline: none;
	text-align: center;
	color: #4a470a;
}

input[type="date"] {
	border: 1px solid #4a470a;
	outline: none;
	text-align: center;
	color: #4a470a;
}

.asideHeader ul {
	padding-left: 0;
	list-style-type: none;
	text-align: center;
}

.editorTool input:disabled {
	background-color: #ffffff;
}

.editorTool textarea:disabled {
	background-color: #ffffff;
}

.headerNav {
	text-align: center;
}

footer {
	position: relative;
	border-top: 1px solid #4a470a;
	color: #4a470a;
	text-align: center;
	display: inline-block;
}

.page {
	width: 100%;
}

.page, .page .main_finds, .page .main_finds>div {
	float: left;
	text-align: center;
}

.main_disappear, .main_finds {
	float: left;
}

.card_info>h2 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

.pageFocus {
	transform: scale(1.05, 1.05);
	background-color: #4a470a !important;
	color: #ffffff !important;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	border: none;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	height: 50px;
	width: 50px;
	background: rgba(74, 71, 10, 0.8);
}

.deskHide {
	display: none;
}

.headerNav>p {
	font-size: 25px;
	margin: 5px;
}

#preferences {
	position: absolute;
	top: 130px;
	right: 30px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.preferences {
	position: absolute;
	top: 120px;
	left: 190px;
	padding: 5px;
	background-color: #4a470a;
	border-radius: 5px;
	z-index: 101;
}

.preferences a>input[type="button"] {
	float: left;
	width: 100px !important;
	margin: 3px;
}

.preferences>img {
	position: absolute;
	top: 10px;
	left: -15px;
	width: 15px;
	height: 25px;
}

span {
	font-size: 20px;
}

.asideHeader a>input[type="button"] {
	width: 180px;
	height: 40px;
	line-height: 40px;
	padding: 0;
	font-size: 18px;
	color: #4a470a;
	background-color: #e0d821;
	font-weight: bold;
}

input, .card, select {
	outline: none;
	font-weight: bold;
}

.card:hover, input:hover, select:hover {
	transform: scale(1.05, 1.05);
	box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.3);
}

.asideHeader a>input:hover {
	background-color: #4a470a !important;
	color: #ffffff !important;
}

.checks:hover {
	transform: scale(1.3, 1.3) translateY(-5px);
}

.card:active, input[type="button"]:active, input[type="submit"]:active {
	transform: scale(1, 1);
}

input:focus {
	box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.3);
}

.asideHeader {
	position: fixed;
	padding: 30px;
}

h2 {
	margin-top: 0px;
}


select {
	margin-bottom: 10px;
	padding: 0 40px;
	width: 222px;
	height: 50px;
	font-size: 15px;
}

input[type="text"], input[type="password"] {
	margin-bottom: 10px;
	padding: 10px;
	width: 200px;
	height: 30px;
	font-size: 15px;
}

input[type="file"] {
	margin-bottom: 10px;
	padding: 10px;
	width: 200px;
	height: 25px;
	font-size: 15px;
}

input[type="button"], input[type="submit"] {
	margin-bottom: 10px;
	width: 222px;
	height: 51px;
	padding: 10px;
	font-size: 15px;
}

input[type="date"] {
	padding: 10px;
	width: 200px;
	height: 18px;
	font-size: 15px;
}

.card>img {
	width: 100%;
	height: 70%;
}

.checks {
	position: relative;
	display: inline-block;
	margin-bottom: 5px;
}

.checks input[type="radio"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.checks input[type="radio"]+label {
	display: inline-block;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.checks input[type="radio"]+label:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 4px;
	width: 15px;
	height: 15px;
	text-align: center;
	background: #fafafa;
	border: 1px solid #cacece;
	border-radius: 100%;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px
		rgba(0, 0, 0, 0.05);
}

.checks input[type="radio"]+label:active:before, .checks input[type="radio"]:checked+label:active:before {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checks input[type="radio"]:checked+label:before {
	background: #e9ecee;
	border-color: #adb8c0;
}

.checks input[type="radio"]:checked+label:after {
	content: '';
	position: absolute;
	top: 6px;
	left: 8px;
	width: 9px;
	height: 9px;
	background: #4a470a;
	border-radius: 100%;
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.asideHeader {
	width: 140px;
	height: 100%;
}

.asideHeader>a {
	font-size: 40px;
}

.asideHeader>ul>li>a {
	font-size: 18px;
}

.headerNav {
	margin: 30px -30px 10px -30px;
	font-size: 18px;
}

footer {
	margin-top: 30px;
	width: 100%;
	height: 50px;
}

.containor {
	position: relative;
	margin-left: 200px;
	width: 960px;
}

.mainContents {
	position: relative;
	padding: 50px;
	width: 100%;
	color: #4a470a;
	min-height: 500px;
}

.login {
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	text-align: center;
	font-size: 18px;
}

.find_info {
	margin-top: 40px;
	text-align: center;
	font-size: 18px;
}

.signup_form {
	text-align: center;
}

.about {
	text-align: center;
}

.mainPageTable {
	width: 100%;
	padding: 5px;
	text-align: center;
}

.mainPageTable h4 {
	font-size: 20px;
}

.mainPageTable td {
	width: 50%;
}

.mainPageTable .page .card {
	margin: 1%;
	width: 47.5%;
	font-size: 13px;
}

.main_finds, .main_disappear {
	width: 50%;
}

.myPageTable .card {
	width: 47.5%;
	height: 10em;
	float: left;
}

.myPageTable .card>img {
	width: 100%;
	height: 100%;
}

.main_card {
	margin: 1%;
	border: 1px solid #4a470a;
	width: 47.5%;
	height: 17em;
}

.card {
	float: left;
	margin: 1%;
	border: 1px solid #4a470a;
	width: 30%;
	height: 19em;
}

.card_info>h2 {
	margin: 0;
	width: 100%;
}

.rightTopButtons {
	float: right;
	width: 150px !important;
	margin-left: 5px;
}

.editorTool {
	width: 100%;
}

.editorTool input[type="text"], .editorTool input[type="password"] {
	margin-bottom: 0;
	height: 18px;
}

.editorTool select {
	margin-bottom: 0;
	height: 40px;
}

.editorToolbar>img {
	margin-bottom: 10px;
	float: left;
	width: 25px;
	height: 25px;
}

.editorToolbar>img:hover {
	background-color: #e0d821;
}

.editorTool table tr td textarea {
	resize: none;
	width: 98.7%;
	height: 300px;
}

#boardEditor {
	margin-top: 50px;
	border: 1px solid #4a470a;
	width: 100%;
	min-height: 200px;
}

.editorTool table {
	width: 100%;
	border: 1px solid #4a470a;
	vertical-align: middle;
}

.editorTool table th {
	width: 15%;
}

.editorTool table td {
	width: 35%;
}

.editorTool table {
	text-align: left;
	padding: 5px;
}

.editorTool table th, .editorTool table td {
	height: 35px;
	padding: 2px;
}

.findsDeleteFormView {
	z-index: 101;
	position: absolute;
	top: 130px;
	left: 685px;
	border: 1px solid #4a470a;
	padding: 5px;
	background-color: #ffffff;
	box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.3);
}

.findsUpdateFormView {
	z-index: 101;
	position: absolute;
	top: 130px;
	left: 530px;
	border: 1px solid #4a470a;
	padding: 5px;
	background-color: #ffffff;
	box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.3);
}

.findsUpdateFormView input[type="password"], .findsDeleteFormView input[type="password"]
	{
	margin: 5px;
	width: 150px;
}

.findsUpdateFormView input[type="submit"], .findsDeleteFormView input[type="submit"]
	{
	margin: 5px;
	width: 172px;
}

.findsUpdateFormView img, .findsDeleteFormView img {
	z-index: 101;
	position: absolute;
	top: -15px;
	left: 78px;
	width: 35px;
	height: 15px;
}

/* 페이징 */
.arrow_1{
	padding-right:8px;
	background:url(http://nstatic.dcinside.com/dgn/gallery/images/btn_paging_next.gif) right center no-repeat;
}
.arrow_2{
	padding-right:16px;
	background:url(http://nstatic.dcinside.com/dgn/gallery/images/btn_paging_end.gif) right center no-repeat;
}
.arrow_3{
	padding-left:8px;
	background:url(http://nstatic.dcinside.com/dgn/gallery/images/btn_paging_prev.gif) left center no-repeat;
}
.arrow_4{
	padding-left:16px;
	background:url(http://nstatic.dcinside.com/dgn/gallery/images/btn_paging_first.gif) left center no-repeat;
}
.selected {
	font-weight: bold;
	text-decoration: underline !important;
	color: #ff5a00 !important;
}
.paging{
	border:1px solid #CCC;
	padding:5px;
	margin-left:0px;
	display:inline-block;
}
.paging:hover{
	color: #ff5a00;
}
